@font-face {
    font-family: 'Minipax-Regular';
    src: url('font/Minipax-Regular.eot');
    src: url('font/Minipax-Regular.eot') format('embedded-opentype'),
         url('font/Minipax-Regular.woff') format('woff'),
         url('font/Minipax-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
        }
        
    @font-face {
    font-family: 'fengardo';
    src: url('font/fengardoneue_regular-webfont.eot');
    src: url('font/fengardoneue_regular-webfont.eot') format('embedded-opentype'),
         url('font/fengardoneue_regular-webfont.woff') format('woff'),
         url('font/fengardoneue_regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}    

h1 { 
    font-family: 'Minipax-Regular', sans-serif; font-size: 1.08em; line-height: 1.5em;
}
        h2{ 
    font-family: 'fengardo', sans-serif; font-size: 0.9em; line-height: 1.2em;
}
        h3{ 
    font-family: 'fengardo'; font-size: 2em; line-height: 0.1em;
}

body { margin: 0; padding: 0;}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

    /* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #fafafa;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
    left: 50%;
  width: 50%; /* Full width */
    /* z-index: 5;*/
}
      

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: darkslategrey;
  text-align: center;
  padding: 14px 1px;
  text-decoration: none;
  font-family: 'fengardo';
  margin-left: 2.15em;
}

/* 1st Link inside the navbar */    
        .navbar-first {
margin-left: 1em;}        
        
/* Change background on mouse-over */
.navbar a:hover {
  color: deepskyblue;
} 
        
.logo-image{
    width: 70px;
    overflow: hidden;
    margin-top: 3px;
margin-right: 45px;
    float: right
        
}   

        .popup-header{
width: 100%;
float: left;}        
                     
        
/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
    

#map {
position: fixed;
width: 50%;
}
#features {
width: 50%;
margin-left: 50%;
font-family: 'minipax', sans-serif;
overflow-y: scroll;
background-color: #fafafa;
}
section {
padding: 200px 50px;
line-height: 25px;
border-bottom: 1px solid #ddd;
opacity: 0.25;
font-size: 13px;
}
section.active {
opacity: 1;
}
section:last-child {
border-bottom: none;
margin-bottom: 200px;
}
    .mapboxgl-popup {
max-width: 1100px !important;
font-family: 'minipax', sans-serif;
    
}

.w3-container {
  padding: 0; 
}
